@charset "utf-8";

// Color Palette

$footer-bgc: #192633;
$primery-color: #e35540;
$label-color: #33475B;
$input-color: #f5f8fa;
$input-border: #CBD6E2;

$white: #FFFFFF;
$light-gray: #f8fafc;
$gray: #f1f4f9;

// Global

* {
    box-sizing: border-box;
    position: relative;
}

html, body {
    font-family: "Microsoft JhengHei", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

.section, div {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

label {
    display: block;
    float: none;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 4px;
    color: $label-color;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

// Grid System

$ipad: 768px;
$mobile: 540px;

@mixin breakpoint($point) {
    @if $point == ipad {
        @media screen and (max-width: $ipad) {
            @content;
        }
    }
    @else if $point == mobile {
        @media screen and (max-width: $mobile) {
            @content;
        }
    }
    @else if $point == default {
        @media screen {
            @content;
        }
    }
}

.container {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1218px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint(ipad) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

$col: (lg: 100vw, md: 768px, sm: 540px);
$ColItem: 12;

@mixin RowCol {
    @each $name, $MediaWidth in $col {
        @for $i from 1 through 4 {
            .col-#{$name}-#{$ColItem / $i} {
                float: left;
                padding-left: 16px;
                padding-right: 16px;

                @media screen and (max-width: $MediaWidth) {
                    width: ($ColItem / $i / 12 * 100%);
                }

                @include breakpoint(ipad) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

.row {
    margin-left: -16px;
    margin-right: -16px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include RowCol;
    @include breakpoint(ipad) {
        margin-left: -8px;
        margin-right: -8px;
    }
}


/* -------------------------- *\
    Component
\* -------------------------- */

// Start Base---------------------

.hero {
    padding: 60px 0;
    .section-title {
        margin-bottom: 60px;
        .top-title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            text-align: center;
            color: $primery-color;
            margin-bottom: 8px;
        }
        .large-title {
            font-size: 40px;
            line-height: 60px;
            font-weight: 700;
            letter-spacing: 1.2px;
            text-align: center;
            margin-bottom: 8px;
        }
        .subtitle {
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;
        }
    }
}
.btn {
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
    background-color: $primery-color;
    color: $white;
}

// End Base---------------------

// Start navbar---------------------

.navbar {
    width: 100%;
    left: 0;
    top: 0;
    padding: 8px 0;
    position: fixed;
    z-index: 400;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    .logo {
        display: block;
        width: 170px;
        height: 40px;
        background-image: url("../images/KOLABLE_white02.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        white-space: nowrap;
        text-indent: 100%;
        overflow: hidden;
    }
    .nav {
        display: flex;
        align-items: center;
        margin-left: 80px;
    }
    .nav-item {
        margin-right: 22px;
    }
    .nav-link {
        font-size: 1rem;
        line-height: 30px;
        padding: 8px 20px;
        font-weight: 400;
        color: $white;
    }
    .btn-group {
        display: flex;
        align-items: center;
        .btn {
            padding-left: 53px;
            padding-right: 53px;
            padding-top: 12px;
            padding-bottom: 12px;
            &:hover {
                background-color: #ee7061;
            }
        }
    }
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar.active {
    background-color: white;
    box-shadow: 0px 1px 8px 1px rgba(#000, 0.1);
    .logo {
        background-image: url("../images/KOLABLE.svg");
    }
    .nav-link {
        color: #333333;
    }
}

// End navbar---------------------

// Start banner---------------------
@keyframes moveforward {
    0% {
        margin-left: 0px
    }
    100% {
        margin-left: -1600px;
    }
}
.banner {
    overflow: hidden;
    width: 100%;
    .ocean {
        width: 100%;
        height: 918px;
        .wave {
            position: absolute;
            top: 0;
            left: 0;
            width: 6400px;
            background-repeat: repeat-x;
            transform: translate3d(0, 0, 0);
        }
        .wave1 {
            background-image: url(../images/banner/re_banner_linear_dark_1600.svg);
            height: 918px;
            // animation: moveForward 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        }
        .wave2 {
            background-image: url(../images/banner/re_banner_linear_midlight_1600.svg);
            height: 900px;
            top: -50px;
            transform: translateY(0);
            // animation: moveForward 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.5s infinite; swell -0.5s ease 10s infinite;
        }
        .wave3 {
            background-image: url(../images/banner/re_banner_linear_light_1600.svg);
            height: 808px;
            top: -50px;
            transform: translateY(0);
            // animation: swell -0.15s ease 10s infinite;
        }
    }
    .dec-component {
        display: inline-block;
        vertical-align: top;
        position: absolute;
    }
    .wave-background {
        .cloud {
            width: 1244px;
            top: -50px;
            left: -120px;
        }
        .dot {
            width: 600px;
            bottom: 120px;
            right: -20px;
        }
        .left-circle {
            width: 149px;
            bottom: 200px;
            left: 0;
            opacity: 0.2;
        }
        .right-circle {
            width: 207px;
            top: 0;
            right: 0;
            opacity: 0.3;
        }
    }
}
.banner-content {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    .banner-content__container {
        display: flex;
        align-items: flex-start;
    }
    .text-area {
        width: 60%;
    }
    .large-title {
        font-size: 72px;
        line-height: 108px;
        font-weight: 700;
        color: $white;
        margin-bottom: 24px;
        // text-align: left;
    }
    .para {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        text-align: justify;
        color: $white;
    }
}
.banner-form {
    width: 36.1%;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 5px rgba(65, 88, 130, 0.5);
    padding: 51px 61px 34px 61px;
    .input-group {
        width: 100%;
    }
    .field {
        margin-bottom: 18px;
    }
    .hs-label {
        font-family: arial, helvetica, sans-serif;
        font-size: 13px;
    }
    .hs-form-required {
        color: red;
    }
    .hs-input {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        color: $label-color;
        border: 1px solid $input-border;
        box-sizing: border-box;
        border-radius: 15px;

        background-color: $input-color;
        min-height: 27px;

        &:focus {
            outline: none;
            border-color: rgba(82, 168, 236, 0.8);
        }
    }
    .submit {
        padding: 17px 0px;
    }
    .hs-button {
        border-radius: 15px;
        margin: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        position: relative;
        text-align: center;
        transition: all 0.15s;
        border-style: solid;
        border-width: 1px;
        padding: 12px 24px;

        background: #FF7A59;
        border-color: #FF7A59;
        color: $white;
        font-size: 12px;
        line-height: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

// End banner---------------------

// Start Clients---------------------

.swiper {
    .logo-container {
        display: inline-block;
        vertical-align: top;
        height: 150px;
        .cilent-logo {
            width: 180px;
            height: 100px;
            opacity: 0.5;
            transition: all 0.2s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                opacity: 1;
                width: 220px;
            }
        }
    }
}

// End Clients---------------------

// Start services---------------------

.services {
    background-color: $gray;
}
.product-card {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(210, 224, 255, 0.5);
    padding: 58px 50px;
    transition: all 0.2s;
    margin-bottom: 60px;
    &:hover {
        box-shadow: 0px 10px 30px 5px rgba(194, 225, 255, 0.6);
        .product-card__btn {
            background-color: $primery-color;
            color: white;
        }
    }
    .title-section {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .blue-icon {
            display: inline-block;
            vertical-align: top;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 60px;
            height: 60px;
            margin-right: 16px;
        }
        .title {
            font-size: 32px;
            line-height: 48px;
            font-weight: 700;
            letter-spacing: 0.96px;
            color: black;
        }
    }
    .para {
        font-size: 16px;
        line-height: 24px;
        height: 99px;
        font-weight: 400;
        color: #333333;
        text-align: justify;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 24px;
    }
    .subtitle {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: #010101;
        margin-bottom: 24px;
    }
    .function-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .check-icon {
            display: block;
            width: 24px;
            height: 24px;
            background-image: url(../images/icon/ok.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 16px;
        }
        .function-para {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #828282;
        }
    }
    .second-item {
        margin-bottom: 72px;
    }
    .product-card__btn {
        width: 100%;
        display: inline-block;
        background-color: white;
        color: $primery-color;
        border: 1px solid $primery-color;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

// End services---------------------

// Start create-value---------------------

.create-value {
    background-color: $light-gray;
    overflow: hidden;
    .background-image {
        background-image: url(../images/resize_unsplash1_2.jpg);
        display: block;
        width: 55%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(44, 44, 44, 0.2));
        }
    }
    .intro-content {
        padding: 40px;
        background-color: $white;
        margin-left: 40%;
        margin-right: 60px;
        border-radius: 10px;
        .section-title {
            margin-bottom: 32px;
            .top-title, .large-title, .subtitle {
                text-align: left;
            }
        }
        .info-items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: -55px;
            margin-right: -55px;
            .info-item {
                width: 50%;
                padding: 0 55px;
                .icon {
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .title {
                    font-size: 24px;
                    line-height: 48px;
                    font-weight: 700;
                    letter-spacing: 0.72px;
                    color: black;
                    margin-bottom: 10px;
                }
                .para {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    text-align: justify;
                    color: #333333;
                    margin-bottom: 32px;
                }
            }
        }
        .btn {
            width: 270px;
            display: inline-block;
            padding-top: 12px;
            padding-bottom: 12px;
            border: 1px solid $primery-color;
            &:hover {
                background-color: #ee7061;
            }
        }
    }
}

// End create-value---------------------

// Start Number---------------------
.number {
    background-color: #334164;
    .title-section {
        display: flex;
        align-items: center;
        justify-content: center;
        & h2 {
            color: white;
            font-size: 56px;
            line-height: 84px;
            font-weight: 700;
            text-align: center;
        }
    }
    .subtitle {
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
    }
}
// End Number---------------------

// Start footer---------------------

.footer {
    background-color: $footer-bgc;
    color: $white;
    padding-top: 60px;
    .info-section {
        margin-bottom: 50px;
        .kolable-logo {
            display: block;
            width: 250px;
            height: 53px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 16px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        .slogan {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: white;
            margin-bottom: 16px;
        }
        .info-group {
            margin-bottom: 16px;
        }
        .line-link {
            display: flex;
            align-items: center;
            .icon {
                display: inline-block;
                vertical-align: top;
                width: 32px;
                height: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 10px;
            }
        }
        .info, .link-txt {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #a8bbcc;
        }
    }
    .nav-map {
        display: flex;
        flex-wrap: wrap;
        .nav-items {
            margin-bottom: 84px;
            width: 33.33%;
            display: flex;
            justify-content: end;
            .link-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .main-link {
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                color: white;
                padding: 10px 0;
                margin-bottom: 4px;
            }
        }
    }
}

.copyright {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
}

// End footer---------------------

// Start utility---------------------

// End utility---------------------
